<!-- upload.html -->

{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Upload Excel File</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    <div class="container">
      <h1>Upload Excel File</h1>
      <div class="form-container">
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="file-upload">
            <div class="file-upload-icon">
              <img src="{% static 'images/upload.png' %}" alt="File Icon" />
            </div>
            <p id="fileText">Upload Excel File</p>
            <input type="file" id="file" name="file" />
            <label for="file" class="browse-files">Browse files</label>
          </div>
          <button type="submit" class="btn">Process File</button>
        </form>
      </div>
      {% if processed_data %}
      <div class="processed-data">
        <h2>Processed Data</h2>
        <a
          href="{{ processed_data }}"
          class="btn"
          download="processed_data.xlsx"
          >Download Processed Data</a
        >
      </div>
      {% endif %}
    </div>

    <div class="excel-columns">
      <h2>Excel Columns</h2>
      <div class="table-container">
        <table>
          <tr>
            <th>C</th>
            <th>D</th>
            <th>E</th>
            <th>P</th>
            <th>Q</th>
          </tr>
          <tr>
            <td>SEM</td>
            <td>Course</td>
            <td>Branch</td>
            <td>Gender</td>
            <td>Category</td>
          </tr>
        </table>
      </div>
    </div>

    <script src="{% static 'js/upload.js' %}"></script>
  </body>
</html>
